<header style="border: 1px solid black">
  <div class="container" style="border: 1px dashed blue">
    <div class="row">
      <div class="col-8" style="border: 1px solid red">
      Header content
      <ul>
        <li>Storage service</li>
        <li>Account setup</li>
      </ul>
      </div>
      <div class="col-4" style="border: 1px solid yellow">
      </div>
    </div><!-- End row -->
  </div><!-- End container -->
</header>
This is home!
